@model SurveyAssignedListModel

<div class="mt-5">
    
        <div class="shadow p-3 rounded my-5">
            <div class="table-responsive">
                <table class="table table-striped table-big">
                    <thead>
                        <tr>
                            <th>
                                Denetim Adı
                            </th>
                            <th scope="col">
                                Ad Soyad
                            </th>
                            <th>Kullanıcı Adı</th>
                            <th>Tesis</th>
                            <th>Statü</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (var assignedSurvey in Model.Surveys)
                        {
                            <tr>
                                <td>@assignedSurvey.Survey.Name</td>
                                <td>@assignedSurvey.AppUser.FullName</td>
                                <td>@assignedSurvey.AppUser.UserName</td>
                                <td>@assignedSurvey.AppUser.Facility.Name, @assignedSurvey.AppUser.Facility.City, @assignedSurvey.AppUser.Facility.Local</td>
                                <td>@assignedSurvey.Status</td>
                                <td class="text-end">
                                    <a href="/surveyAssign/details/@assignedSurvey.Survey.Id/user/@assignedSurvey.AppUser.Id" class="btn btn-sm btn-primary">Görüntüle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>
